[submodule "packages/bisect-core-ts"]
	path = packages/bisect-core-ts
	url = https://github.com/bisect-pt/bisect-core-ts.git
[submodule "packages/ebu-list-sdk"]
	path = packages/ebu-list-sdk
	url = https://github.com/bisect-pt/ebu-list-sdk.git
