[submodule "packages/bisect-core-ts"]
	path = packages/bisect-core-ts
	url = https://github.com/bisect-pt/bisect-core-ts.git
[submodule "packages/bisect-core-ts-be"]
	path = packages/bisect-core-ts-be
	url = https://github.com/bisect-pt/bisect-core-ts-be.git
